blib
cover_db
Makefile
META.yml
MYMETA.yml
MYMETA.json
pm_to_blib
Text
*.tar.gz
*.tgz
*.old
*.o
*.c
*.bs
*.gcov
*.gcda
*.gcno
Text-CSV_XS*
xx*
valgrind.log
pod2htm*
nytprof*
tmp/*
sandbox/cover_db*
sandbox/i-ttt*
sandbox/parse-*.png
sandbox/print-*.png
sandbox/rfc7111.odt
sandbox/test.*
sandbox/output.csv
