cpan_user HMBRAND
automated_testing 1
skip_kwalitee 1
skip_manifest 1
skip_prereqs 1
skip_dist 1
allow_glob_in_perls 1
perls /pro/bin/perl:/usr/bin/perl\
:/media/Tux/perls/bin/perl5.6.[12]\
:/media/Tux/perls/bin/perl5.8.*\
:/media/Tux/perls/bin/perl5.1[02468]*\
:/media/Tux/perls/bin/perl5.2[02468]*\
:/media/Tux/perls/bin/perl5.21.*\
:/media/Tux/perls/bin/tperl5.6.2\
:/media/Tux/perls/bin/tperl5.8.*\
:/media/Tux/perls/bin/tperl5.1[02468]*\
:/media/Tux/perls/bin/tperl5.2[02468]*\
:/media/Tux/perls/bin/tperl5.21.*\
:/media/Tux/perls/bin/cperl5.2[012].*
